{% extends "base.html" %}

{% block title %}Add Task{% endblock %}

{% block content %}

<form id="frmAddTask" method="post" action="/task" class="mt-5 needs-validation" novalidate>

    <input type="hidden" id="hdnTags" name="hdnTags">

    <h4 class="alert-primary">Add new Task</h4>

    <div>
        <label class="form-label" for="txtTaskTitle">Title:</label>
        <input class="form-control" id="txtTaskTitle" name="txtTaskTitle" type="text" required />
         <div class="invalid-feedback">
            Please provide a valid task title.
         </div>
    </div>
    <div>
        <label class="form-label" for="txtTaskDescription">Description:</label>
        <textarea cols="60" rows="5" wrap="hard" class="form-control" name="txtTaskDescription" id="txtTaskDescription"></textarea>
    </div>
     <div class="form-group">
                <label class="control-label" for="tagInput">Tags</label>
                <input type="text" id="tagInput" class="form-control" />
     </div>

    <div class="form-group mt-3">
        <span id="tagTarget"></span>
    </div>

    <div class="form-group mt-3">
        <a href="/" class="btn btn-secondary">Cancel</a>
        <input id="btnAddRecord" type="submit" class="btn btn-primary" value="Submit">
    </div>


</form>

{% endblock %}

{% block scripts %}
    <script async type="module"  src="../static/js/taskHelper.js"></script>
{% endblock %}